sample_flows.json
[{"id":"5287f509.66249c","type":"inject","z":"27616db5.40b352","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":40,"wires":[["e36bf6e2.633f58"]]},{"id":"e36bf6e2.633f58","type":"publicgooglesheets","z":"27616db5.40b352","spreadsheetId":"","x":610,"y":40,"wires":[["a499660e.12d2e8","3a9e7400.38055c"]]},{"id":"a499660e.12d2e8","type":"debug","z":"27616db5.40b352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":40,"wires":[]},{"id":"82807216.1063c","type":"http in","z":"27616db5.40b352","name":"","url":"/googlesheets","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["e7300abe.757e98"]]},{"id":"3a9e7400.38055c","type":"http response","z":"27616db5.40b352","name":"","statusCode":"","headers":{},"x":810,"y":100,"wires":[]},{"id":"e7300abe.757e98","type":"function","z":"27616db5.40b352","name":"set spreadsheetId param","func":"// sample public google sheets id\n// 10WDbAPAY7Xl5DT36VuMheTPTTpqx9x0C5sDCnh4BGps\n\nmsg.spreadsheetId = msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":100,"wires":[["e36bf6e2.633f58"]]}]
