sample_flows.json
[
  {
    "id": "5287f509.66249c",
    "type": "inject",
    "z": "27616db5.40b352",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 620,
    "y": 60,
    "wires": [
      [
        "572df9fa.39c148"
      ]
    ]
  },
  {
    "id": "a499660e.12d2e8",
    "type": "debug",
    "z": "27616db5.40b352",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 60,
    "wires": []
  },
  {
    "id": "82807216.1063c",
    "type": "http in",
    "z": "27616db5.40b352",
    "name": "",
    "url": "/googlesheets",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "e7300abe.757e98"
      ]
    ]
  },
  {
    "id": "3a9e7400.38055c",
    "type": "http response",
    "z": "27616db5.40b352",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 990,
    "y": 100,
    "wires": []
  },
  {
    "id": "e7300abe.757e98",
    "type": "function",
    "z": "27616db5.40b352",
    "name": "set spreadsheetId param",
    "func": "// sample public google sheets id\n// 10WDbAPAY7Xl5DT36VuMheTPTTpqx9x0C5sDCnh4BGps\n\nmsg.spreadsheetId = msg.payload.id;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 390,
    "y": 100,
    "wires": [
      [
        "7a5aa419.7fa13c"
      ]
    ]
  },
  {
    "id": "572df9fa.39c148",
    "type": "publicgooglesheets",
    "z": "27616db5.40b352",
    "spreadsheetId": "",
    "x": 790,
    "y": 100,
    "wires": [
      [
        "3a9e7400.38055c",
        "a499660e.12d2e8"
      ]
    ]
  },
  {
    "id": "7a5aa419.7fa13c",
    "type": "delay",
    "z": "27616db5.40b352",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "30",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 600,
    "y": 100,
    "wires": [
      [
        "572df9fa.39c148"
      ]
    ]
  }
]
